/***********************************************
                FOOTER
***********************************************/
footer {
    h4{
      font-size: 1.414rem;
      padding: 0.5rem 2rem;
      color: $dark_brown;
    }
    p {
      font-size: 1rem;
      padding: 0.5rem 2rem;
      color: $dark_grey;
    }
    .fa-circle {
      color: $dark_grey;
    }
    h4[lang=de]{
      display:block;
    }
    h4[lang=en],
    h4[lang=ar],
    h4[lang=ru] {
      display:none;
    }
}

 
