@import "variables";
/***********************************************
                NAVIGATION
***********************************************/
header nav{
    padding:2rem 0;
    clear: both;
    >ul {
      >li {
        >a{
          display:block;
          text-align: center;
          text-decoration: none;
          color: $dark_grey;    
          font-size: 1.414rem;
          letter-spacing: 0.25rem;
          border:1px solid $light_grey; 
          border-bottom: none;
          padding:1.0rem 2rem;
          line-height: 1;
          background-color: $white;
          &:hover {
            font-weight: 700;
            color: $dark_brown;  
        }
      }
    }
  }
}

