@import "variables.scss";

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}


/***********************************************
                LAYOUT
***********************************************/

.bg-header {
  background-color: $white;
  background-color: $light_blue;
  color: $dark_grey;
  border-bottom: 1rem solid $med_blue;
  border-top: 1rem solid $dark_blue;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $dark_blue;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  background-color: $light_brown;
  color: $dark_brown;
}

.bg-content1 {
  background-color: $white;
  color: $dark_grey;
}

.bg-content2 {
  background-color: $light_blue;
  color: $dark_blue;
}

.bg-footer {
  background-color: $white;
  color: $light_grey;
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;
  h1 {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    width: 100%;
    >ul {
      li {
        width: 100%;
        float: none;
      }
    }
  }
}

section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }
  &.content1 {
    padding: 2rem 0;
  }
  &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid $dark_blue;
  margin-bottom: 2rem;
}

footer {
  padding: 2rem 0;
  &.col-2:first-child {
    border-left: 0;
  }
  p:last-child {}
}